{
  "printWidth": 120,
  "tabWidth": 4,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": { "parser": "lwc" }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": { "parser": "html" }
    },
    {
      "files": "{sfdx-project.json,package.json}",
      "options": { "parser": "json", "tabWidth": 2 }
    }
  ]
}
